<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>606735149139-ri6piphv05tvadsshq73qod77i1c3had.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.606735149139-ri6piphv05tvadsshq73qod77i1c3had</string>
	<key>API_KEY</key>
	<string>AIzaSyBMiQK_eAZ60BqY4wST9_fbsAXdC863S_0</string>
	<key>GCM_SENDER_ID</key>
	<string>606735149139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.sendme</string>
	<key>PROJECT_ID</key>
	<string>sendme-24a49</string>
	<key>STORAGE_BUCKET</key>
	<string>sendme-24a49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606735149139:ios:903abccc341a67ef903ea6</string>
	<key>DATABASE_URL</key>
	<string>https://sendme-24a49.firebaseio.com</string>
</dict>
</plist>